<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.dmitryvoronko.news">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity
            android:name=".view.content.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.content.EntriesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dmitryvoronko.news.view.content.MainActivity"/>
            />
        </activity>
        <activity
            android:name=".view.settings.SettingsActivity"
            android:label="@string/title_activity_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dmitryvoronko.news.view.content.MainActivity"/>
        </activity>

        <service
            android:name=".services.AddNewService"
            android:exported="false">
        </service>

        <activity
            android:name=".view.addnew.AddNewActivity"
            android:label="@string/title_activity_add_new">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dmitryvoronko.news.view.content.MainActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="itpc"/>
                <data android:scheme="pcast"/>
                <data android:scheme="feed"/>
                <data android:scheme="rss"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="*"
                    android:pathPattern=".*xml"
                    android:scheme="http"/>
                <data
                    android:host="*"
                    android:pathPattern=".*rss"
                    android:scheme="http"/>
                <data
                    android:host="*"
                    android:pathPattern=".*feed.*"
                    android:scheme="http"/>
                <data
                    android:host="*"
                    android:pathPattern=".*podcast.*"
                    android:scheme="http"/>
                <data
                    android:host="*"
                    android:pathPattern=".*Podcast.*"
                    android:scheme="http"/>
                <data
                    android:host="*"
                    android:pathPattern=".*rss.*"
                    android:scheme="http"/>
                <data
                    android:host="*"
                    android:pathPattern=".*RSS.*"
                    android:scheme="http"/>
                <data
                    android:host="*"
                    android:pathPattern=".*xml"
                    android:scheme="https"/>
                <data
                    android:host="*"
                    android:pathPattern=".*rss"
                    android:scheme="https"/>
                <data
                    android:host="*"
                    android:pathPattern=".*feed.*"
                    android:scheme="https"/>
                <data
                    android:host="*"
                    android:pathPattern=".*podcast.*"
                    android:scheme="https"/>
                <data
                    android:host="*"
                    android:pathPattern=".*Podcast.*"
                    android:scheme="https"/>
                <data
                    android:host="*"
                    android:pathPattern=".*rss.*"
                    android:scheme="https"/>
                <data
                    android:host="*"
                    android:pathPattern=".*RSS.*"
                    android:scheme="https"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:mimeType="text/xml"
                    android:scheme="http"/>
                <data
                    android:mimeType="application/rss+xml"
                    android:scheme="http"/>
                <data
                    android:mimeType="application/atom+xml"
                    android:scheme="http"/>
            </intent-filter>
        </activity>

        <service
            android:name=".services.ChannelsContentService"
            android:exported="false">
        </service>
        <service
            android:name=".services.EntriesContentService"
            android:exported="false"/>

        <activity android:name=".view.content.EntryActivity">
            android:parentActivityName=".view.content.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dmitryvoronko.news.view.content.EntriesActivity"/>
            />
        </activity>
    </application>

</manifest>